.modal {
  position              : absolute;
  width                 : 300px;
  padding               : 1.25rem;
  font-size             : 1rem;
  border                : 1px solid black;
  border-radius         : 10px;
  text-align            : center;
  background-color      : rgb(47, 115, 218);
  visibility            : hidden;
  bottom                : 6rem;
  left                  : 50%;
  // right              : 0;
  transform             : translateX(-50%);
  opacity               : 0;

  &.active {
    visibility: visible;
    opacity   : 1;
    transition: visibility 0s,
      opacity 0.3s linear;
  }


}

.close-modal-btn {
  position: absolute;
  top     : 10px;
  right   : 10px;
}