#root {
    // display        : flex;
    // flex-direction : column;
    // justify-content: space-between;
    max-height: 100vh;
}

.main-app {
    display              : grid;
    grid-template-columns: 270px 1fr;
    min-height           : 100vh;
    max-height           : 100vh;
    grid-template-rows: 1fr 100px;
    
    @include for-mobile-layout {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 150px;
    }
    @include for-narrow-layout {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 150px;
    }
    
    
    @include for-normal-layout {
        grid-template-rows: 1fr 100px;
        grid-template-columns: 210px 1fr;

    }

    @include for-wide-layout {
        grid-template-columns: 270px 1fr;

    }



}